*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
} 
.navlinks{
    width: 100%;
    height: 80px;
    background-color: greenyellow;
    padding-top: 12px;
    position: fixed;
   top: 0;
   overflow: hidden;
 
 
}
 li{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
   
    
}
 a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-left:10px;
     

}
 a:hover{
    color:brown;
    background-color:green ;
    padding: 10px;
}
img{
    height: 500px;
    width: 100%;
}
 .left{
    float: right;
    width: 48%;
 }
 
     